/* Navbar */

nav.emp-navbar {
    position: relative;
    background-color: #4169E1;;
    margin-bottom: 1rem;
    height: 3.5rem;    
}

/* Erro */
label.errorMessage {
    color: red;
    display: none;
    font-size: 0.9rem;
    margin-left: 1rem;
}
